node_modules
dist/
dist-server/
dist-produccion/
data/*.db
data/*.db-shm
data/*.db-wal
data/*.sqlite3
data-*/*.db
data-*/*.db-shm
data-*/*.db-wal
data-*/*.sqlite3
*.log
playwright-report/
test-results/

bin/
TKD_Torneo_2026.zip
data-t1     /
data-t2 /
